footer.footer
    .container
        .level
            .level-left
                .level-item
            .level-right
                .level-item
                    span.icon.is-large
                        i.fab.fa-twitter.fa-2x
                    span.icon.is-large
                        i.fab.fa-facebook.fa-2x
                    span.icon.is-large
                        i.fab.fa-instagram.fa-2x
                    span.icon.is-large
                        i.fab.fa-whatsapp.fa-2x
        .level
            .level-left
                .level-item.has-text-grey
                    small The best pupusas
            .level-left
                .level-item.has-text-grey
                    small= `Parcial 3 ${new Date().getFullYear()} | All rights reserved`        